<div style="background-color: #fff;
     box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
     width: 80%;
     margin: 20px auto;
">
<app-filter-component (searchEvent)="receiveSearchKeyword($event)"></app-filter-component>


  <table style="width: 100%;margin:15px;">
    <thead>
    <th (click)="setOrder('_id')"  [class.active]="order === '_id'">ID
      <span [hidden]="reverse">▼</span>
      <span [hidden]="!reverse">▲</span>
     </th>
    <th  (click)="setOrder('status')" [class.active]="order === 'status'">status
      <span [hidden]="reverse">▼</span>
      <span [hidden]="!reverse">▲</span></th>
    <th (click)="setOrder('owner')" [class.active]="order === 'owner'">owner
      <span [hidden]="reverse">▼</span>
      <span [hidden]="!reverse">▲</span></th>
    <th (click)="setOrder('createdAt')"  [class.active]="order === 'createdAt'">createdAt
      <span [hidden]="reverse">▼</span>
      <span [hidden]="!reverse">▲</span></th>
    <th (click)="setOrder('notes')" [class.active]="order === 'notes'">notes
      <span [hidden]="reverse">▼</span>
      <span [hidden]="!reverse">▲</span></th>
    <th (click)="setOrder('address')"  [class.active]="order === 'address'">address
      <span [hidden]="reverse">▼</span>
      <span [hidden]="!reverse">▲</span></th>
    </thead>
    <tbody>
<!-- 
        <tr *ngFor="let dataItem of singleObject.data | orderBy: order:reverse:'case-insensitive'
        | paginate: { itemsPerPage: 10, currentPage: p }"  [hidden]="
        singleObject.data.owner.toLowerCase().indexOf(keyword)== -1 && keyword != ''
         &&  singleObject.data.createdAt.toLowerCase().indexOf(keyword)== -1 && keyword != ''
         && singleObject.data.status.toLowerCase().indexOf(keyword)== -1 && keyword != '' "> -->

    <tr *ngFor="let dataItem of singleObject.data | orderBy: order:reverse:'case-insensitive'
    | paginate: { itemsPerPage: 2, currentPage: p }"
    
    [hidden]="
    dataItem.owner.toLowerCase().indexOf(keyword)== -1
         &&  dataItem.createdAt.toLowerCase().indexOf(keyword)== -1 && keyword != ''
         && dataItem.status.toLowerCase().indexOf(keyword)== -1 && keyword != ''">
      <td>{{dataItem._id}}</td>
      <td>
      <div class="btn-group" dropdown>
          <button id="button-basic" dropdownToggle type="button" class="nozol-dropdown-button"
                  aria-controls="dropdown-basic">
                  {{dataItem.status}} <span class="caret"></span>
          </button>
          <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
              role="menu" aria-labelledby="button-basic">
            <li role="menuitem"><a class="dropdown-item" href="#" (click)="onClickStatus(dataItem._id,'finished')">finished</a></li>
            <li role="menuitem"><a class="dropdown-item" href="#"  (click)="onClickStatus(dataItem._id,'active')">7amada</a></li>
          </ul>
        </div>
    </td>
      <td>{{dataItem.owner}}</td>
      <td>{{dataItem.createdAt}}</td>
      <td>{{dataItem.notes}}</td>
      <td>{{dataItem.address}}</td>
    </tr>
    </tbody>
  </table>
  <pagination-controls (pageChange)="p = $event"></pagination-controls>

</div>


  <!--<div class="mat-elevation-z8 data-table">-->

  <!--<mat-table #table [dataSource]="dataSource" matSort aria-label="Elements">-->

    <!--&lt;!&ndash; Id Column &ndash;&gt;-->
    <!--<ng-container matColumnDef="id">-->
      <!--<mat-header-cell *matHeaderCellDef mat-sort-header>Id</mat-header-cell>-->
      <!--<mat-cell *matCellDef="let row ">{{row.id}}</mat-cell>-->
    <!--</ng-container>-->

    <!--&lt;!&ndash; Id Column &ndash;&gt;-->
    <!--<ng-container matColumnDef="_id">-->
      <!--<mat-header-cell *matHeaderCellDef >Id</mat-header-cell>-->
      <!--<mat-cell *matCellDef="let row">{{row._id}}</mat-cell>-->
    <!--</ng-container>-->

    <!--&lt;!&ndash; Name Column &ndash;&gt;-->
    <!--<ng-container matColumnDef="createdAt">-->
      <!--<mat-header-cell *matHeaderCellDef mat-sort-header>createdAt</mat-header-cell>-->
      <!--<mat-cell *matCellDef="let row">{{row.createdAt}}</mat-cell>-->
    <!--</ng-container>-->

    <!--&lt;!&ndash; Name Column &ndash;&gt;-->
    <!--<ng-container matColumnDef="name">-->
      <!--<mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>-->
      <!--<mat-cell *matCellDef="let row">{{row.name}}</mat-cell>-->
    <!--</ng-container>-->

    <!--&lt;!&ndash; Gender Column &ndash;&gt;-->
    <!--<ng-container matColumnDef="status">-->
      <!--<mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>-->
      <!--<mat-cell *matCellDef="let row">{{row.status}}</mat-cell>-->
    <!--</ng-container>-->

    <!--&lt;!&ndash; Owner Column &ndash;&gt;-->
    <!--<ng-container matColumnDef="owner">-->
      <!--<mat-header-cell *matHeaderCellDef mat-sort-header>Owner</mat-header-cell>-->
      <!--<mat-cell *matCellDef="let row" >{{row.owner}}</mat-cell>-->
    <!--</ng-container>-->

    <!--&lt;!&ndash; Owner Column &ndash;&gt;-->
    <!--<ng-container matColumnDef="notes">-->
      <!--<mat-header-cell *matHeaderCellDef >notes</mat-header-cell>-->
      <!--<mat-cell *matCellDef="let row">Last note: {{row.notes}}</mat-cell>-->
    <!--</ng-container>-->

    <!--&lt;!&ndash; Bathroom No Column &ndash;&gt;-->
    <!--<ng-container matColumnDef="bathroomNo">-->
      <!--<mat-header-cell *matHeaderCellDef >Bathrooms</mat-header-cell>-->
      <!--<mat-cell *matCellDef="let row">{{row.bathroomNo}}</mat-cell>-->
    <!--</ng-container>-->

    <!--&lt;!&ndash; Address No Column &ndash;&gt;-->
    <!--<ng-container matColumnDef="address">-->
      <!--<mat-header-cell *matHeaderCellDef >Address</mat-header-cell>-->
      <!--<mat-cell *matCellDef="let row">{{row.address}}</mat-cell>-->
    <!--</ng-container>-->

    <!--<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>-->
    <!--<mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>-->
  <!--</mat-table>-->

  <!--<mat-paginator #paginator-->
    <!--[length]="dataSource.data.length"-->
    <!--[pageIndex]="0"-->
    <!--[pageSize]="50"-->
    <!--[pageSizeOptions]="[25, 50, 100, 250]">-->
  <!--</mat-paginator>-->
<!--</div>-->
